<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
  <title>Formula One Driver Profile</title>
</head>
<body>

  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<% include ../partials/nav %>
