

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/nation">Countries</a></li>
    <li><a href="/driver">Drivers</a></li>
    <li><a href="/driver/new">Create driver profile</a></li>
  </ul>
</nav>
</body>
</html>
