<% include ../../partials/boilerplate %>

<div class="title">
  <h1>Drivers</h1>
</div>

<% driver.forEach((driver) => { %>
<div class="index">
      <a href="/driver/<%=driver.id%>"><h1><%=driver.name%></h1></a>

  </div>
<% }) %>



<% include ../../partials/end %>

