<% include ../../partials/boilerplate %>

<form class="from-driver" action="/driver" method="post">
<h1>Create your own driver profile!</h1>
<label for="name">Name: </label>
<input type="text" id="name" name="name" placeholder="Enter your full name"/>

<label for="carnum">Car Number: </label>
<input type="" id="carnum" name="carnum" placeholder="Enter your car number"/>

<label for="nationality">Nationality:</label>
<input type="" id="nationality" name="nationality" placeholder="What is nationality"/>

<div class="add-driver">
<button type="submit">Submit</button>
</div>
</form>

<% include ../../partials/end %>
