<% include ../../partials/boilerplate %>

<form action="/driver" method="post">
Create your own driver profile!
<label for="name">Name: </label>
<input type="text" id="name" name="name" placeholder="Enter your full name"/>

<label for="carnum">Car Number: </label>
<input type="" id="carnum" name="carnum" placeholder="Enter your car number"/>

<label for="nationality">Nationality:</label>
<input type="" id="nationality" name="nationality" placeholder="What is nationality"/>

<input type="submit" value="Add Driver" />
<form>

<% include ../../partials/end %>
