<% include ../../partials/boilerplate %>

<form class="form-driver" action="/driver" method="post">
<h1>Create your own driver profile!</h1>
<label for="name">Name: </label>
<input type="text" id="name" name="name" placeholder="Enter your full name"/>

<label for="carnum">Car Number: </label>
<input type="number" id="carnum" name="carnum" placeholder="Enter your car number"/>

<label for="team">Team:</label>
<input type="text" id="team" name="team" placeholder="What team are you on?"/>

<label for="nationality">Nationality:</label>
<input type="text" id="nationality" name="nationality" placeholder="What is nationality"/>

<div class="add-driver">
<button type="submit">Submit</button><br>
<button type="submit"><a href="/driver"> Back to Drivers </a></button>
</div>
</form>

<% include ../../partials/end %>
