<% include ../../partials/boilerplate %>

<div class="title">
  <h1>Countries</h1>
</div>
      <% nation.forEach((nation) => { %>
        <div class="index">
          <a href="/nation/<%=nation.id%>"><h1><%=nation.name%></h1></a>
        </div>
      <% }) %>

<% include ../../partials/end %>
