<% include ../../partials/boilerplate %>

<div class="nation-index">
  <div class="nation">

<% nation.forEach((nation) => { %>
          <a href="/nation/<%=nation.id%>"><h1><%=nation.name%></h1></a>
<% }) %>

   </div>
</div>
<% include ../../partials/end %>
