<% include ../../partials/boilerplate %>

<div class="container">
  <div class="home-page">
    <h1><%= nation.name%></h1>

      <% driver.forEach((driver) => { %>

        <a href="/driver/<%=driver.id%>"><h1><%=driver.name%></h1></a>

      <% }) %>
  </div>
</div>
<% include ../../partials/end %>




