<% include ../../partials/boilerplate %>

<h1><%= nation.name%></h1>

<% driver.forEach((driver) => { %>
    <a href="/driver/<%=driver.id%>"><h1><%=driver.name%></h1></a>

<% }) %>

<% include ../../partials/end %>




