body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
}

nav {
  padding: 15px;
  background-color: #000;
}

ul {
  list-style-type:none;
}
ul li {
  display:inline-block;
  font-size:20px;
  padding:10px;
}

li a:link {
  color:white;
  text-decoration:none;
}

li a:hover{
  text-decoration:none;
  color: blue;
}

li a:visited {
  color:red;
  text-decoration:none;
}

li a:active {
  color:white;
  text-decoration:none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}


/*home container*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.nation-index {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-flow: column wrap;

}
