body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
}

nav {
  display: flex;
  padding: 15px;
  background-color: #000;
  justify-content: space-around;
}

ul {
  list-style-type:none;
}
ul li {
  display:inline-block;
  font-size:20px;
  padding:10px;
}

li a:link {
  color:white;
  text-decoration:none;
}

li a:hover{
  text-decoration:none;
  color: red;
}

li a:visited {
  color:red;
  text-decoration:none;
}

li a:active {
  color:red;
  text-decoration:none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}


/*home container*/

.container {
  display: flex;
  width: 500px;
  text-align: center;
  margin: 10px;
}

.home-page {

}

/* nation-index */
.index {
  display: inline-block;
  width: 350px;
  text-align: center;
  margin: 10px;
  padding: 10px;
/*  border: 3px solid black;
  border-radius: 100%;*/

}

.nation a {
  text-decoration: none;
}

.title {
  display: flex;
  justify-content: center;
}


/* driver profile*/
.profile {
  width: 100%;
  max-width: 320px;
/*  display: flex;
  flex-flow: column wrap;*/
  margin: auto;
}


p {
  font-size: 23px;
}

.intro {
  font-size: 15px;
}

.form-driver {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
justify-content: center;
}

.form-row {
  display: flex;
}

.add-driver button {
  display: inline-block;
  margin-bottom: 10px;
}

.edit-button button {
  display: inline-block;
  margin-bottom: 10px;
}

.form-row input {
flex: 2;
}

form label {
  padding-right: 3px;
}

form input[type=text], form input[type=number], form input[type=email] {
  border: 0;
  border-bottom: 3px solid #eee;
  font-size: 1.7em;
  margin: 20px 0;
  padding: 5px;
  display: block;
  width: 30%;
  transition: 0.3s;
}
