<% include ../../partials/boilerplate %>

<div class="container">
  <div class="home-page">
      <img src ="https://i.ndtvimg.com/i/2017-11/f1-logo-2018_827x510_81511713381.png" width="400"/>

<h1>WELCOME TO FORMULA ONE DRIVER PROFILE</h1>
  <h3>Here is what you will find here:</h3>
    <p class="intro">
      1. List drivers currently in Formula 1 <br>
      2. List of countries that are currently in Formula 1<br>
      3. Create your own driver profile.
    </p>

  </div> <!-- End of div home-page -->
</div> <!-- End of div container -->

<% include ../../partials/end %>
